* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    background: var(--secondary_1);
}
html { 
    overflow-y: scroll; 
    overflow-x:hidden; 
    scroll-behavior: smooth;
}
.main{
    position: relative;
}
.sidebar{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #FFFFFF;
    padding: 6px 14px;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    color: var(--neutral_5);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo-image{
    width: 124px;
    margin-right: 5px;
    margin-left: 12px;
}
.sidebar #btnMenu{
    position: absolute;
    color: var(--neutral_3);
    left: 50%;
    top:6px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btnMenu{
    left:80%;
}

.sidebar ul{
    margin-top: 20px;
    padding-left: 0.5rem;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 12px 0px;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 90px;
    top: 0;
    transform: translateY(-50%, -50%);
    border-radius: 10px;
    height: auto;
    width: 122px;
    line-height: 35px;
    background: var(--primary_2);
    text-align: center;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 10;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    top:0%;
    transition: all 0.5s ease;
    opacity: 1;
}
.sidebar ul li a{
    color: var(--neutral_5);
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    display: flex;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    margin-left: -2px;
}

.sidebar.active ul li a:hover{
    font-weight: bold;
    background: var(--primary_2);
}
.sidebar ul li a img{
    height: 25px;
    min-width: 25px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    margin-right: 20px;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar ul li input{
    position:absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: var(--neutral_1);
    padding-left: 50px;
    font-size: 12px;
    color:black;
}
.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color:black;
    text-align: center;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar .profile-content{
    position: absolute;
    color:var(--neutral_4);
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile-content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: var(--neutral_2);
}
.sidebar .profile .profile-detail{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile-detail{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile-detail img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.name_job{
    margin-left: 10px;
}
.name_employee{
    font-size: 15px;
    font-weight: 600;
}
.job_employee{
    font-size: 12px;
}
#log_out{
    position: absolute;
    bottom:5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}
.sidebar.active #log_out{
    left: 88%;
}
.home-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 78px;
    transition: all 0.5s ease;
}
.container{
    margin: 12px;
}
.sidebar.active ~.home-content{
    width: calc(100% - 240px);
    left: 240px;
}
.card-addproduct {
    box-sizing:content-box;
    padding: 16px;
    height: auto;
    width: 1220px;
    margin-top: 16px;
    margin-left: 72px;
    margin-bottom: 72px;
    margin-right: 100px;

    border-radius: 10px;
    border: 0.5px solid var(--neutral-2);
    background-color: var(--neutral_1);
    stroke: var(--neutral_3);
    cursor: pointer;
}
.title {
    margin-top: 16px;
    margin-left: 16px;
}
.title h1 {
    font-size: 26;
    font-weight: 700;
    color: var(--neutral_4);

}

/* Hightlight tab trên sidebar */
.sidebar.active .highlight{
    color: var(--primary_5) !important;
    font-weight: bold;
}

.insight{
    margin-top: 24px;
}
.card{
    box-sizing: content-box;
    margin-left: 16px;
    width: 550px;
    height: auto;
    border-radius: 20px;
}

.card-image {
    box-sizing: content-box;
    margin-top: 16px;
    margin-left: 72px;
    margin-bottom: 16px;
    width: 400px;
    height: 300px;
    background-color: var(--primary_1);
    border: 4px dashed var(--neutral_2);
    stroke-width: 0.5px;
    stroke-linecap: round;
    border-radius: 10px;
}


.card-image img {
    height: auto;
    width: auto;
    margin-top: 72px;
    margin-left: 135px;
}

.card-image h6{
    text-align: center;
    color: var(--neutral_4);
}
.card-detailproduct{
    box-sizing: content-box;
    margin-top: 16px;
    margin-left: 48px;
    width: 450px;
    height: 56px;
    border: 1px solid var(--neutral_4);
    stroke-width: 2px;
    stroke-linecap: round;
    border-radius: 10px;
}
.card-detailproduct1{
    box-sizing: content-box;
    margin-top: 16px;
    margin-left: 48px;
    margin-bottom: 48px;
    width: 450px;
    height: 56px;
    border: 1px solid var(--neutral_4);
    stroke-width: 2px;
    stroke-linecap: round;
    border-radius: 10px;
}
.content-detail {
    display: flex;
    margin-left: 8px;
}
.content-detail img {
    height: 45px;
    width: 45px;
    margin-top: 5px;
    border-radius: 10px;
    line-height: 56px;
}
.name-product {
    margin-top: 8px;
    margin-left: 16px;
}
.name-product h6 {
    font-weight: 700;
    color: var(--neutral_4);
}
.name-product p {
    margin-top: -5px;
    font-size: 12px;
    font-weight: 500;
    color: var(--neutral_4);
}
.image-trash {
    margin-left: 140px;
}
.card-title{
    font-size: 22px;
    color: var(--neutral_4);
    margin-left: 16px;
    font-weight: bold;
}
.title {
    margin-left: 16px;
    margin-top: 16px;
    color: var(--neutral_4);
    font-weight: 600;
}
.card-productinfo {
    box-sizing: content-box;
    padding: 8px;
    margin-left: 16px;
    width: 480px;
    height: auto;
    background-color: var(--primary_1);
    border: none;
    border-radius: 10px;
    color: var(--neutral_4);
}
.card-productinfo1 {
    box-sizing: content-box;
    padding: 8px;
    vertical-align:text-top ;
    margin-left: 16px;
    width: 480px;
    height: 200px;
    background-color: var(--primary_1);
    border: none;
    border-radius: 10px;
    color: var(--neutral_4);
}
/* .dropdown{
    margin-top: 16px;
    border-radius: 10px;
    width: 400px;
    background: var(--primary_1);
}
.dropdown-menu{
    border-radius: 10px;
    width: 400px;
    background: var(--primary_1);
}
.dropdown-item{
    color: var(--neutral_5);
}
.dropdown-item:active{
    background-color: var(--primary_2);
} */
/* .btn btn-filter dropdown-toggle{
    border-radius: 10px;
    width: 400px;
    background: var(--primary_1);
} */
/* .dropdown-menu .sub-menu{
    border-radius: 10px;
    background: gray;
    display: none;
}
.dropdown-menu li {
    position: relative;
}
.dropdown-menu a{
    display: block;
    padding: 10px 10px;
    color: white;
    border-bottom: none
}
.dropdown-menu a:hover, .dropdown-menu .sub-menu a:hover{
    color: white;
}
.dropdown-menu .sub-menu a{
    padding-left: 28px;
    color: white;
}
.icon-menu{
    color: white;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
} */
.button-choose {
    margin-top: 16px;
    display: flex;
    margin-left: 165px;
}
.button-category {
    display: flex;
    margin-top: 16px;
}
.button-detailedcategory {
    border-radius: 10px;
    width: 93px;
    height: 36px;
    border: none;
    background-color: var(--primary_1);
    color: var(--primary_4);
    font-size: 16px;
    font-weight: 700;
    margin-left: 16px;
    text-align: center;
    line-height: 36px;

}
.button-detailedcategory:active,:visited {
    border-radius: 10px;
    width: 93px;
    height: 36px;
    border: none;
    background-color: var(--secondary_5);
    color: var(--neutral_1);
    font-size: 16px;
    font-weight: 700;
    margin-left: 16px;
    text-align: center;
    line-height: 36px;
}
.button-add {
    height: 36px;
    width: 93px;
    border-radius: 10px;
    margin-bottom: 32px;
    border: none;
    background-color: var(--primary_2);
    color: var(--primary_4);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;

}
.button-cancel {
    margin-left: 16px;
    margin-bottom: 32px;
    height: 36px;
    width: 93px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary_5);
   

}
.button-cancel a {
    color:var(--neutral_1);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
}

.card-text{
    display: flex;
    justify-content: space-between;
}
.money_detail{
    font-size: 24px;
    color:var(--primary_4);
    font-weight: bold;
}
.money_detail1{
    font-size: 24px;
    color:var(--secondary_3);
    font-weight: bold;
}
.icon_money{
    background: var(--primary_1);
    border-radius: 50%;
    padding: 4px;
}
.icon_money1{
    background: var(--primary_1);
    border-radius: 50%;
    padding: 4px;
}
.trend{
    font-size: 12px;
    color: var(--primary_4);
    font-weight: bold;
}
.trend1{
    font-size: 12px;
    color: var(--secondary_3);
    font-weight: bold;
}
.trendTime{
    font-size: 12px;
    color: var(--neutral_4);
    font-weight: 400;
}
.card-dashboard{
    width: 490px;
    background-color: #FFFFFF;
}
.orderTable{
    margin-top: 24px;
}

.detail{
    display: flex;
    width: auto;
    height: auto;
    border-style: solid;
    padding: 8px;
    border-color: var(--neutral_4);
    background: #FFFFFF;
}
.actions{
    display: flex;
}
.actions button{
    border-style: solid;
    border: 0.5px solid #979C9E;
    background: #FFFFFF;
    color: var(--neutral_4);
    font-size: 10px;
    width: 50px;
    height: 24px;
}
.orderTable{
    margin-bottom: 48px;
}
.orderTable table{
    width: 100%;
    border-radius: 20px;
    padding: 36px;
    text-align: center;
    transition: all 300ms ease;
}
.orderTable table tr{
    display: table-row;
}
.orderTable table thead tr th{
    height: 70px;
}
.orderTable table tbody tr:hover{
    background-color: var(--primary_1);
    cursor: pointer;
}
.orderTable table:hover{
    box-shadow: none;
}
.orderTable table tbody td{
    height: 2.8 rem;
    color: var(--neutral_4);
    margin-bottom: 8px;
    display: table-cell;
    vertical-align: inherit;
    padding: 12px;
}
.orderTable table tbody tr:last-child td{
    border: none;
}
.orderTable .showAll:link, :visited {
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 24px;
    color: var(--secondary_5);
}
.orderTable .showAll:hover {
    cursor:pointer;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
.orderTable .warning{
    color: var(--primary_4);
    font-weight: 500;    
}
.orderTable .delivered{
    color: #5CC7AF;
    font-weight: 500;    
}
.orderTable .cancel{
    color: var(--secondary_3);
    font-weight: 500;    
}
.orderTable .delete:hover{
    color: var(--secondary_5);
    font-weight: 600;
    cursor:pointer;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
.progress-container {
    height: 10px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}

.progress-container .progress-fill {
    position: absolute;
    height: 10px;
    border-radius: 10px;
}

.progress-container .excellent-bar {
    background-color: #439381;
    animation: loadExcellentBar 1s forwards;
}

.progress-container .good-bar {
    background-color: #00A1FF;
    animation: loadgoodBar 1s forwards;
}

.progress-container .average-bar {
    background-color: var(--primary_3);
    animation: loadaverageBar 1s forwards;
}
.progress-container .notbad-bar {
    background-color: var(--secondary_2);
    animation: loadnotbadBar 1s forwards;
}
.progress-container .bad-bar {
    background-color: #AC3E20;
    animation: loadBadBar 1s forwards;
}

.progress-text {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

@keyframes loadExcellentBar {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes loadgoodBar {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes loadaverageBar {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes loadnotbadBar {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}
@keyframes loadBadBar {
    0% {
        width: 0%;
    }
    100% {
        width: 10%;
    }
}
.categoryOptions{
    position: relative;
}
.dropdown-item{
    color: var(--neutral_5);
}
.dropdown-item:active{
    background-color: var(--primary_2);
}
.dropdown{
    color: var(--neutral_3);
}
.dropdown-toggle{
    display: flex;
    color: var(--neutral_3);
    font-size: 14px;
    font-weight: bold;
    width: 135px;
    height: 40px;
    align-items: center;
}