* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{
    box-shadow: 0 0 25px rgba(126, 126, 126, 0.8);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    margin-bottom: -16px;
}

.section-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin-left: 4%;
    margin-right: 4%;
}

.delivery{
    margin-left: 24px;
}



.search{
    background-color: var(--neutral_2);
    border-radius: 30px;
    width: 300%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    margin-left: 24px;
    transition: box-shadow 0.3s;
}

.search input{
    background-color: transparent;
    border: none;
    color: var(--neutral_4);
    text-align: start;
    line-height: 42px;
    width: 200%;
    border: 0;
    outline: none;
}

.search:hover{
    box-shadow: 0px 0px 10px var(--primary_2);
}

.search:active{
    box-shadow: 0px 0px 10px var(--primary_2);
}

.link-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    align-items: flex-end;
    margin-left: 24px;
}

nav ul{
    list-style-type: none;
    cursor: default;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    font-size: 18px;
    display: block;
    color: var(--neutral_5);
    padding: 8px 10px;
    margin: 0px 24px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.section-2 nav ul li a:hover{
    color: var(--primary_4);
}

nav ul li a.active{
    color: var(--primary_4);
}

#toggle{
    display: none;
}

#toggle-btn{
    text-align: right;
    display: none;
}

#toggle-btn img{
    font-size: 24px;
    padding: 8px;
    background-color: var(--secondary_2);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 426px){
    section .section-2{
        flex-direction: column;
        padding-bottom: 12px;
    }
    #toggle-btn{
        display: block;
    }
    nav ul{
        display: none;
    }
    #toggle:checked + ul{
        display: block;
    }
    nav ul li{
        display: block;
        text-align: left;
    }
    nav ul li a{
        font-size: 16px;
    }
    /* nav ul li a img{
        display: none;
    } */
}

@media screen and(max-width: 425px) {
    section .section-2{
        flex-direction: column;
        padding-bottom: 12px;
    }
    #toggle-btn{
        display: block;
    }
    nav ul{
        display: none;
    }
    #toggle:checked + ul{
        display: block;
    }
    nav ul li{
        display: block;
        text-align: left;
    }
    nav ul li a{
        font-size: 12px;
    }
}



/* Start of css for account */

.link-btn .account {
    display: flex;
    padding-left: 2px;
    justify-content: space-between;
    color: var(--neutral-2);
}

.link-btn .subnav {
    z-index: 3;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 8px 0;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    display: none;
}

.link-btn .account:hover .subnav {
    /* margin-top: 10px; */
    display: block !important;
}

.link-btn .account .subnav {
    width: 14rem;
    right: 5rem;
    top: 4.5rem;
}

.link-btn .account .subnav li {
    padding-left: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    list-style-type: none;
}

.link-btn .account .subnav li a {
    line-height: 24px;
    display: flex;
    text-decoration: none;
    color: var(--neutral_4);
    align-items: center;
}

.link-btn .account .subnav li .icon img{
    width: 24px;
}

.link-btn .account .subnav li span {
    line-height: 24px;
    margin-left: 4px;
    padding: 8px;
    justify-content: baseline;
}

.link-btn .account .subnav li:hover {
    font-weight: 700;
    transition: 0.2s linear;
    background-color: var(--primary_1);
}

.link-btn .account .subnav li a:hover{
    color: var(--primary_4);
}

/* End of css for account */


/* Start of css for notification */


.link-btn .notification .subnav {
    width: 24rem;
    right: 8.3rem;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    display: none;
    padding: 8px;
}

.link-btn .subnav::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 1rem;
    width: 10px;
    height: 10px;
    background-color: #FFFF;
    transform: rotate(45deg);
}

.link-btn .notification:hover .subnav {
    margin-top: 4px;
    display: block !important;
}

.notify-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 1px;
}

.notify-section .notify-thumb img {
    width: 60px;
    height: 60px;
}

.notify-text {
    margin-left: 8px;
}

.notify-section .notify-text span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
}

.notify-text span h6 {
    font-weight: 700;
    size: 14px;
    vertical-align: middle;
}

.notify-text span p {
    size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

.notify-section p {
    size: 8px;
    font-weight: 500;
    text-align: justify;
}

#notification-lable {
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 8px;
    color: var(--neutral_4);
    text-transform: uppercase;
    font-weight: 700;
}

.link-btn .notification .subnav li{
    list-style-type: none;
}

.link-btn .notification .subnav li a {
    font-size: 12px;
    font-weight: 500;
    color: var(--neutral_4);
    text-decoration: none;
    cursor: pointer;
}

.link-btn .notification .subnav li:hover {
    background-color: var(--primary_1);
    transition: 0.2s linear;
}

.link-btn .notification .subnav li a:hover{
    color: var(--primary_4);
}

/* End of css for notification */


/* #header2 {
    height: 65px;
    margin-top: 32px;
    position: relative;
    display: flex;
    align-items: baseline;
    align-items: center;
    justify-content: center;
} */

.nav-category {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    cursor: pointer;
}

.nav-category a {
    /* font-style: normal; */
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: var(--neutral_5);
}

.nav-category span {
    transition: 0.3s ease-in-out;
}

.nav-category .subnav {
    z-index: 3;
    position: absolute;
    width: 15rem;
    background-color: white;
    border-radius: 10px;
    padding-top: 8px;
    display: none;
}

.nav-category:hover .subnav {
    margin-top: 40px;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    margin-left: 32px;
    display: block !important;
}

.nav-category .subnav li {
    list-style-type: none;
    cursor: pointer;
    width: 100%;
    font-weight: 200;
    text-align: start;
    margin-left: -20%;
}

.subnav .last-item {
    border-bottom: none;
}

.nav-category .subnav a {
    display: block;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s linear;
}

.nav-category .subnav li:hover {
    /* background-color: var(--neutral_2); */
    color: var(--primary_4);
    font-weight: 700;
    transition: 0.2s linear;
}


/* Banner: Chuyện nhà Butter */
.bannerchuyennhabutter {
    display: flex;
    justify-content: center;
}

.bannerchuyennhabutter img {
    width: 100%;
}

/* Button: Switch */
.switchbutton {
    display: flex;
    align-items: center;
    margin: 50px auto;
    width: 554px;
    justify-content: space-between;
}

.btn-Blogs {
    width: 260px;
    height: 70px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 20px;
    background-color: var(--neutral_1);
    border-color: var(--primary_3);
}

.btn-Events {
    width: 260px;
    height: 70px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 20px;
    background-color: var(--primary_3);
    border: none;
}

/* Events */
/* Events side */
.outline-page-events {
    width: 100%;
}

.outline-container {
    display: flex;
    justify-content: space-between;
    width: 1294px;
    margin: auto;
}

.events-side {
    flex-grow: 1;
}

.events-side a:link, :visited {
    text-decoration: none;
    color: var(--neutral_5);
}

.events-side a:hover {
    color: var(--neutral_5);
}

.event-item {
    display: flex;
    width: 913px;
    height: 383px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.event-img {
    flex-grow: 1;
    width: 383px;
    height: 383px;
}

.event-img img {
    width: 383px;
    height: 383px;
    border-radius: 10px;
}

.event-item-text {
    flex-grow: 1; 
    width: 506px;
}

.event-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--primary_5);
    width: 506px;
}

.event-date {
    font-weight: 400;
    font-size: 20px;
    color: var(--neutral_4);
}

.event-text {
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    width: 506px;
}

/* Suggest side */
.suggest-side {
    /* margin-left: 35px; */
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    width: 348px;
}

.suggest-side a:link, :visited {
    text-decoration: none;
    color: var(--neutral_5);
}

.suggest-side a:hover {
    color: var(--neutral_5);
}

.divider {
    flex-grow: 1;
    border-left: 1px solid #E3E4E5;
    height: 1695px;
}

.suggest-wrap {
    flex-grow: 1;
}

.suggest-title {
    font-weight: 700;
    font-size: 22px;
    color: var(--primary_4);
    text-align: center;
    margin-bottom: 20px;
}

.suggest-item-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.suggest-item {
    width: 306px;
    height: 225px;
    display: inline-block;
    background-color: var(--secondary_1);
    border-radius: 10px;
}

.item-date {
    font-weight: 400;
    font-size: 18px;
    color: var(--neutral_4);
    margin-top: 8px;
    margin-left: 8px;
}

.item-title {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary_5);
    margin-top: 8px;
    margin-left: 8px;
}

.item-img {
    margin-top: 8px;
}

.item-img img {
    width: 306px;
    height: 150px;
    border-radius: 10px;
}

/* Footer */
/* FOOTER */
.footer-body {
    height: 620px;
    background-color: var(--primary_4);
    /* margin-top: 24px; */
    /* border-radius: 50px 50px 0px 0px; */
    width: 101%;
    padding-top: 16px;
}

.footer-section {
    padding: 8px 8px 8px 72px;
    margin-right: 24px;
}

.footer-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer-hr {
    color: var(--primary_1);
    background: var(--primary_1);
    border: 2px;
    height: 2px;
    width: 100px;
}

.footer-content {
    font-size: 20px;
    color: white;
    /* margin: 20px 0px; */
    line-height: 1.6;
}

.footer-infor {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-infor:hover {
    text-decoration: underline;
    color: var(--primary_1);
    cursor: pointer;
}

.socials-list {
    font-size: 30px;
    margin-bottom: 25px;
}

.socials-list-icon img {
    text-decoration: none;
    padding: 0px 8px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    margin-top: 16px;
    width: 50px;
}

.socials-list-icon img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.payment-list img {
    width: 35px;
    margin-right: 15px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.payment-list img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.form-control {
    padding: 16px;
    border: none;
    width: 461px;
    height: 40px;
    margin-bottom: 8px;
    font-family: 'Quicksand';
    border-radius: 20px;
    color: var(--neutral_4);
    font-size: 16px;
    font-weight: 400;
}

.form-control:focus {
    outline: none;
}

.form-control::placeholder {
    color: var(--neutral_3);
}

.form-control-fb {
    height: 90px;
    padding-bottom: 50px;
}

.form-send {
    position: relative;
    padding: 10px;
    background-color: white;
    border: none;
    width: 90px;
    height: 45px;
    margin-bottom: 10px;
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 700;
    color: var(--primary_4);
    background-color: var(--primary_1);
    border-radius: 20px;
    align-items: center;
}


.form-send:hover {
    cursor: pointer;
    color: var(--neutral_4);
    background-color: var(--primary_2);
    
}

/*BTN Scroll to top*/
.btnScrollToTopp {
    border: none;
    background-color: transparent;
    z-index: 1;
    position: fixed;
    right: 1.5rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.btnScrollToTopp.hide {
    opacity: 1;
}

/*END OF BUTTON SCROLL*/

/* css for button chat start*/

.show-btnFunction {
    z-index: 1;
    position: fixed;
    right: 0.5rem;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: var(--primary_2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #FFF;
    cursor: pointer;
    /* opacity: 0; */
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.show-btnFunction:hover {
    transform: scale(1.2);
}

.btnPhone {
    bottom: 15%;
}

.btnChat {
    bottom: 25%;
}

/* css for button chat end*/

/* css for box chat start */

.chatWrapper {
    z-index: 4;
    position: fixed;
    width: 250px;
    height: 350px;
    right: 0.5rem;
    bottom: 35%;
    background-color: var(--primary_1);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(163, 105, 105, 0.2);
    display: none;
    animation: chatFadeIn ease-in-out 0.2s;
}

.chat-header {
    background-color: var(--primary_3);
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.closechat {
    float: right;
    right: 5%;
    cursor: pointer;
}

.chatWrapper h5 {
    color: var(--primary_5);
    font-weight: 700;
    font-size: 18px;
    display: inline-flex;
}

.chatWrapper p {
    font-size: 14px;
    margin-top: 4px;
    padding: 10px;
    text-align: justify;
}

.chatWrapper form {
    margin: 8px;
    width: 230px;
}

.chatWrapper form>input {
    display: block;
    width: 100%;
    border: 1px solid var(--primary_4);
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

.showChat {
    display: flex;
    flex-direction: column;
}

.chatWrapper form>button {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary_3);
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.chatWrapper footer {
    text-align: center;
    font-size: 11px;
    color: var(--light-gray);
}

@keyframes chatFadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*css for box chat end*/