* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 9px;
    position: relative;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 25px rgba(126, 126, 126, 0.8);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

#header1 {
    height: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 194px;
    height: 96px;
}

#delivery {
    display: flex;
    justify-content: flex-start;
    width: 306px;
    height: 53px;
    background-color: var(--primary_3);
    border-radius: 30px;
    cursor: pointer;
}

#delivery img {
    margin-top: 2px;
    margin-left: 4px;
}

#delivery span {
    margin-left: 8px;
    line-height: 8px;
    margin-top: 6px;
}

#shipping_icon {
    width: 48px;
    height: 48px;
}

.search_bar {
    width: 100%;
    width: 581px;
    height: 53px;
    background-color: var(--neutral_2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    border-radius: 30px;
    padding: 8px 20px;

}

.search_bar input {
    background: transparent;
    width: 100%;
    max-width: 581px;
    border: 0;
    outline: none;
    padding: 20px 8px;
    font-size: 16px;
    line-height: 20px;
    color: var(--neutral_4);
    align-items: center;
}

.search_bar span {
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    margin-left: 16px;

}

/* Start of css for account */

#header1 .account {
    /* display: flex; */
    padding-left: 2px;
    /* justify-content: space-between; */
    color: var(--neutral-2);
}

#header1 .subnav {
    z-index: 3;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 8px 0;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    display: none;
}

#header1 .account:hover .subnav {
    margin-top: 10px;
    display: block !important;
}

#header1 .account .subnav {
    width: 14rem;
    right: 0;
}

#header1 .account .subnav li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

#header1 .account .subnav li a {
    line-height: 24px;
    display: flex;
    text-decoration: none;
    color: var(--neutral_4);
    align-items: center;
}

#header1 .account .subnav li span {
    line-height: 24px;
    margin-left: 8px;
    justify-content: baseline;
}

#header1 .account .subnav li:hover {
    font-weight: 700;
    transition: 0.2s linear;
}

/* End of css for account */


/* Start of css for notification */


#header1 .notification .subnav {
    width: 27rem;
    right: 3rem;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    display: none;
}

#header1 .subnav::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 1rem;
    width: 10px;
    height: 10px;
    background-color: #FFFF;
    transform: rotate(45deg);
}

#header1 .notification:hover .subnav {
    margin-top: 10px;
    display: block !important;
}

.notify-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -24px;
}

.notify-section .notify-thumb img {
    width: 60px;
    height: 60px;
}

.notify-text {
    margin-left: 8px;
}

.notify-section .notify-text span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
}

.notify-text span h6 {
    font-weight: 700;
    size: 14px;
    vertical-align: middle;
}

.notify-text span p {
    size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

.notify-section p {
    size: 8px;
    font-weight: 500;
    /* line-height: 16px; */
    text-align: justify;
}

#notification-lable {
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--neutral_4);
    text-transform: uppercase;
    font-weight: 700;
}

#header1 .notification .subnav li a {
    font-size: 12px;
    font-weight: 500;
    color: var(--neutral_4);
    text-decoration: none;
    cursor: pointer;
}

#header1 .notification .subnav li:hover {
    background-color: var(--neutral_1);
}

#header1 .notification .subnav li a:hover{
    color: var(--primary_4);
    transition: 0.2s linear;
}

/* End of css for notification */


#header2 {
    height: 65px;
    margin-top: 32px;
    position: relative;
    display: flex;
    align-items: baseline;
    /* align-items: center; */
    justify-content: center;
}

#header2 .nav-category {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    cursor: pointer;
}

#header2 .nav-category a {
    width: 290px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: var(--neutral_5);
}

.nav-category span {
    transition: 0.3s ease-in-out;
}

#header2 .nav {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    cursor: pointer;
}

.nav li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav li a {
    color: var(--neutral_5);
    position: relative;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-left: 72px;
    transition: 0.3s ease-in-out;
}

#header2 a:hover,
#header2 a.active {
    color: var(--primary_4);
}

#header2 .nav-category .subnav {
    z-index: 3;
    position: absolute;
    width: 15rem;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    display: none;
}

#header2 .nav-category:hover .subnav {
    margin-top: 36px;
    display: block !important;
}

.subnav li {
    /* margin: 10px 0; */
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

#header2 .subnav .last-item {
    border-bottom: none;
}

#header2 .subnav li a {
    padding: 0.05rem;
    display: block;
    height: 100%;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    transition: 0.2s linear;
}

.subnav li:hover {
    background-color: var(--neutral_2);
    color: var(--primary_4);
}

/* ==========================header====================== */

/*banner slider*/
#slider {
    position: relative;
    overflow: hidden;
}

#slider img {
    width: 100%;
    height: 720px;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

/* css for manual slider */

.slider-manual {
    position: absolute;
    left: 50%;
    right: 50%;
    /* width: 800px; */
    /* margin-top: -40px; */
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    align-items: center;
    border: 2px solid var(--primary_3);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: var(--primary_3);
}

#r1:checked~.first {
    margin-left: 0;
}

#r2:checked~.first {
    margin-left: -20%;
}

#r3:checked~.first {
    margin-left: -40%;
}

#r4:checked~.first {
    margin-left: -60%;
}


/* css for automatic slider */

.slider-auto {
    position: absolute;
    display: flex;
    left: 50%;
    right: 50%;
    justify-content: center;
    bottom: 20px;
}

.slider-auto div {
    border: 2px solid var(--primary_3);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.slider-auto div:not(:last-child) {
    margin-right: 40px;
}

#r1:checked~.slider-auto .auto-btn1 {
    background: var(--primary_3);
}

#r2:checked~.slider-auto .auto-btn2 {
    background: var(--primary_3);
}

#r3:checked~.slider-auto .auto-btn3 {
    background: var(--primary_3);
}

#r4:checked~.slider-auto .auto-btn4 {
    background: var(--primary_3);
}

/*CSS for content*/
#content {
    margin: 0 auto;
}

/*CSS for content*/

/*Category*/

.category {
    margin-top: 64px;
    margin-left: 288px;
    margin-right: 288px;
    text-align: center;
}

.category_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category_item img {
    width: 120px;
    height: 120px;
}

.category_item a {
    position: relative;
    text-decoration: none;
    color: var(--primary_4);
    size: 22px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    cursor: pointer;
}

.category_item a p {
    margin-top: 16px;
    text-align: center;
}

.category_item a:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
    margin: 0 5px;
}

/*Category*/

/* ButterID */
.butterID {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-left: 100px;
    margin-right: 72px;
}

.butterID .btn_design {
    border: none;
    border-radius: 10px;
    background-color: var(--primary_3);
    /* border: solid 1px var(--primary_3); */
    padding: 1%;
    justify-content: center;
    align-items: baseline;
    display: flex;
    transform: scale(1.0);
    transition: 0.2s ease-in-out;
}

.butterID .btn_design a{
    text-decoration: none;
}

.butterID .btn_design:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}


.butterID_text h4 {
    color: var(--neutral_3);
    font-weight: 600;
}

.butterID_text .display_2 {
    color: var(--neutral_4);
}

.butterID_text .btn_design {
    height: 60px;
    margin-top: 24px;
}


.butterID_text .btn_design .btn_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.butterID_text .btn_design .btn_text img {
    width: 50px;
    height: 50px;
    margin-left: 8px;
}

.butterID_text .btn_design h3 {
    color: white;
    font-weight: 700;
    align-items: baseline;
}

/* ButterID */

/* BUTTER NỔI BẬT*/

.best-selling-list {
    margin-left: 100px;
    margin-right: 100px;
}

.best-selling-list .display_2 {
    margin-top: 48px;
    color: var(--neutral_4);
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.item-card img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    align-items: center;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.item-card img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

.item-name img {
    width: 30px;
    height: 30px;
}

.product-list {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 24px;
}

.item-card{
    padding: 16px;
    width: 20%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    border: solid var(--neutral_3);
    border-width: 0.1px;
    background-color: var(--neutral_1);
    float: left;
    border-radius: 30px;
    cursor: pointer;
}
.item-card a{
    text-decoration: none;
}
.item-card a .unit{
    color: var(--neutral_5);
}
.item-card a .rate p{
    color: var(--neutral_5);
}
.item-content .item-name {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.item-content .item-name h3 {
    font-weight: 700;
    color: var(--neutral_5);
}

.item-content .rating {
    display: flex;
    margin-top: -4px;
}

.item-content .rating img {
    height: 30px;
    width: 30px;
}

.item-content .rating img:hover {
    transform: scale(1.0);
}

.item-content .rating .rate {
    display: flex;
    line-height: 30px;
}

.item-content .rating .rate p {
    margin-left: 4px;
}

.item-content .rating .rate span {
    margin-left: 8px;
    color: var(--neutral_4);
}

.item-content .unit p {
    margin-top: -8px;
    size: 16px;
}

.item-content .price {
    display: flex;
    align-items: baseline;
    line-height: 30px;
    margin-top: -8px;
}

.item-content .price .sale-price {
    size: 22px;
    font-weight: bold;
    color: var(--secondary_5);
}

.item-content .old-price {
    margin-left: 8px;
    color: var(--neutral_3);
}

.btnDesign {
    position: relative;
    border: solid var(--secondary_5) 2px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 16px;
    display: inline-block;
}

.btnOrderText img {
    width: 30px;
    height: 30px;
}

.btnOrderText img:hover {
    transform: scale(1.0);
}

.btnDesign .btnOrderText {
    display: flex;
    line-height: 100%;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: -4px;
}

.btnOrderText h3 {
    font-weight: 700;
    color: var(--secondary_5);
    margin-left: 8px;
    line-height: 30px;
}

/* BUTTER NỔI BẬT*/

/*Discovery more button */
.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.discovery-button {
    position: relative;
    z-index: 0;
    border: none;
    border-radius: 30px;
    padding: 16px;
    margin-top: 24px;
    background-color: transparent;
    transition: color 0.6s ease-in-out;
    overflow: hidden;
}

.discovery-button a {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary_5);
    font-size: 22px;
}

.discovery-button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: var(--primary_2);
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.6s ease-in-out;
}

.discovery-button:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

/*Discovery more*/

/*butter4U--------------------------*/

.butter4U .container .display_2{
    color: var(--neutral_4);
    font-weight: 700;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.butter4U-main{
    display: flex;
    width: fit-content;
}

.butter4U-main .card-content{
    display: flex;
    border: solid 1px var(--neutral_3);
    padding: 10px;
    border-radius: 20px;
    /* box-shadow: 0px -2px 5px rgba(2, 0, 0, 0.2); */
    width: 50%;
    margin: 16px;
    transform: scale(1.0);
    transition: 0.2s ease-in-out;
}

.card-content:hover{
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
    border: solid 3px var(--primary_3);
}  


.card-content .butter4U-text {
    margin-left: 2%;
}

.card-content .butter4U-text .butter4U-name {
    display: flex;
    justify-content: space-between;
}

.card-content .butter4U-text .butter4U-name h3 {
    font-weight: 700;
    color: var(--neutral_5);
}

.card-content .butter4U-text .butter4U-name img {
    width: 25px;
    height: 25px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.butter4U-name img:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

.card-content .butter4U-text .butter4U-detail p {
    text-align: justify;
    margin-top: -2px;
}

.butter4U-text .rating {
    display: flex;
    margin-top: -16px;
}

.butter4U-text .rating .rate {
    display: flex;
    line-height: 30px;
    vertical-align: middle;
}

.butter4U-text .rating .rate p {
    margin-left: 4px;
}

.butter4U-text .rating .rate span {
    margin-left: 8px;
    color: var(--neutral_4);
}

.butter4U-text .rating img {
    width: 25px;
    height: 25px;
}

.butter4U-price h3 {
    color: var(--secondary_5);
    font-weight: 700;
    margin-top: -16px;
}

.butter4U-text .btnDesign {
    height: 100%;
}

.butter4U-image img {
    height: 160px;
    width: 160px;
    border-radius: 10%;
}


/*butter4U--------------------------*/



/*store---------------------*/

.card .image-box{
    height: 200px;
}

.container{
    max-width: 1120px;
    width: 100%;
    /* background-color: gray; */
    padding: 30px;
    border-radius: 10px;

}

.card{
    /* width: fit-content; */
    background: var(--primary_2);
    border-radius: 10px;
    border: none;
    transform: scale(1.0);
    transition: 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}


.slide-container{
    margin: 0 30px;
    overflow: hidden;
}

.card .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card .store-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 2px;
    margin-top: 8px;
    margin-left: 8px;
}

.card .store-details img{
    height: 40px;
    width: 40px;
}

.store-details .name{
    font-weight: 700;
    color: var(--primary_4);
}

.store-details .detail{
    font-weight: 600;
    color: var(--neutral_5);
    margin-top: -4px;
}

.store-body{
    margin-top: 24px;
}

.store-body .display_2{
    color: var(--neutral_4);
    font-weight: 700;
    text-align: center;
    margin-top: 72px;
}
.card a{
    text-decoration: none;
} 

.swiper-button-next {
    /* position: relative; */
    top: 480%;
    z-index: 0;
    margin-right: 100px;
    color: var(--neutral_2);
    transform: scale(1.0);
    transition: 0.3s ease-in-out;
}
.swiper-button-prev {
    top: 480%;
    z-index: 0;
    margin-left: 100px;
    color: var(--neutral_2);
    transform: scale(1.0);
    transition: 0.3s ease-in-out;
}
.swiper-button-next:hover{
    transform: scale(1.1);
    color: var(--neutral_3);
    transition: 0.3s ease-in-out;
}
.swiper-button-prev:hover{
    transform: scale(1.1);
    color: var(--neutral_3);
    transition: 0.3s ease-in-out;
}



/*BLOG BUTTER*/
.chuyenButter-container {
    background-color: var(--primary_1);
}

.chuyenButter-main {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 24px;
}

.chuyenButter-container .chuyenButter-title .display_2 {
    margin-top: 48px;
    color: var(--neutral_4);
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.blog-container-2 {
    margin-top: 56px;
}

.blog-head {
    display: flex;
    justify-content: space-between;
}

.blog-head .blog-head1 {
    display: flex;
    align-items: center;
}

.blog-head .blog-head1 h1 {
    color: var(--neutral_4);
    font-weight: 700;
    margin-left: 8px;
}

.blog-head .see-more {
    display: flex;
}

.blog-head .see-more h4 {
    width: 120px;
    font-weight: 700;
    margin-right: -24px;
    line-height: 40px;
}

.blog-head .see-more a {
    text-decoration: none;
    color: var(--primary_4);
}

.blog-head .see-more a:hover {
    text-decoration: underline;
}

.blog-head .see-more img {
    width: 40px;
    height: 40px;
}

.blog-content {
    display: flex;
    max-width: 100%;
    margin-top: 16px;
    justify-content: space-between;
}

.blog-card {
    width: 100%;
    padding: 16px;
    background-color: var(--primary_2);
    margin: 24px;
    border-radius: 20px;
}
.blog-card a{
    text-decoration: none;
}

.blog-card img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

}

.blog-card img:hover {
    transform: scale(1.02);
}

.blog-card-text {
    margin-top: 8px;
}

.blog-card-text h4 {
    font-weight: 700;
    color: var(--primary_5);
    margin-top: -4px;
    text-align: justify;
}

.blog-card-text .date {
    color: var(--neutral_5);
}

.blog-card-text .blog-detail {
    color: var(--neutral_5);
    text-align: justify;
}

/*BLOG BUTTER*/

/*BTN Scroll to top*/
.btnScrollToTopp {
    border: none;
    background-color: transparent;
    z-index: 1;
    position: fixed;
    right: 1.5rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.btnScrollToTopp.hide {
    opacity: 1;
}

/*END OF BUTTON SCROLL*/

/*BUTTER APP*/
 .butter-app {
    margin-top: 16px;
    display: absolute;
}

.butter-app img {
    margin-top: 48px;
    width: 100%;
    height: 100%;
}

.butter-app .app-content {
    display: flex;
    position: absolute;
    top: 420%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;

}

.app-content .app-qr img {
    width: 100px;
    height: 100px;
}

.app-content .app-qr h5 {
    font-weight: 700;
    margin-bottom: -32px;
}

.app-content .app-qr {
    display: inline;
    align-items: center;
    justify-content: center
}

.app-content .app-divider {
    width: 24px;
    height: 170px;
    margin-left: 8px;
    margin-top: -32px;
}

.app-content .btn-download {
    margin-left: 16px;
    margin-top: -32px;
    height: 56px;
    width: 194px;
}

.app-content .btn-download .ios {
    margin-bottom: -16px;
}

/*BUTTER APP*/



/* css for button chat start*/

.show-btnFunction {
    z-index: 1;
    position: fixed;
    right: 0.5rem;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: var(--primary_2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #FFF;
    cursor: pointer;
    /* opacity: 0; */
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.show-btnFunction:hover {
    transform: scale(1.2);
}

.btnPhone {
    bottom: 15%;
}

.btnChat {
    bottom: 25%;
}

/* css for button chat end*/

/* css for box chat start */

.chatWrapper {
    z-index: 4;
    position: fixed;
    width: 250px;
    height: 350px;
    right: 0.5rem;
    bottom: 35%;
    background-color: var(--primary_1);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(163, 105, 105, 0.2);
    display: none;
    animation: chatFadeIn ease-in-out 0.2s;
}

.chat-header {
    background-color: var(--primary_3);
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.closechat {
    float: right;
    right: 5%;
    cursor: pointer;
}

.chatWrapper h5 {
    color: var(--primary_5);
    font-weight: 700;
    font-size: 18px;
    display: inline-flex;
}

.chatWrapper p {
    font-size: 14px;
    margin-top: 4px;
    padding: 10px;
    text-align: justify;
}

.chatWrapper form {
    margin: 8px;
    width: 230px;
}

.chatWrapper form>input {
    display: block;
    width: 100%;
    border: 1px solid var(--primary_4);
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

.showChat {
    display: flex;
    flex-direction: column;
}

.chatWrapper form>button {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary_3);
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.chatWrapper footer {
    text-align: center;
    font-size: 11px;
    color: var(--light-gray);
}

@keyframes chatFadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*css for box chat end*/

/*============REVEAL==============*/
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.reveal2 {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal2.active2 {
    transform: translateX(0px);
    opacity: 1;
}
/*============REVEAL==============*/


/* FOOTER */
.footer-body {
    height: 620px;
    background-color: var(--primary_4);
    /* margin-top: 24px; */
    /* border-radius: 50px 50px 0px 0px; */
    width: 101%;
    padding-top: 16px;
}

.footer-section {
    padding: 8px 8px 8px 72px;
    margin-right: 24px;
}

.footer-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer-hr {
    color: var(--primary_1);
    background: var(--primary_1);
    border: 2px;
    height: 2px;
    width: 100px;
}

.footer-content {
    font-size: 20px;
    color: white;
    /* margin: 20px 0px; */
    line-height: 1.6;
}

.footer-infor {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-infor:hover {
    text-decoration: underline;
    color: var(--primary_1);
    cursor: pointer;
}

.socials-list {
    font-size: 30px;
    margin-bottom: 25px;
}

.socials-list-icon img {
    text-decoration: none;
    padding: 0px 8px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    margin-top: 16px;
    width: 50px;
}

.socials-list-icon img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.payment-list img {
    width: 35px;
    margin-right: 15px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.payment-list img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.form-control {
    padding: 16px;
    border: none;
    width: 461px;
    height: 40px;
    margin-bottom: 8px;
    font-family: 'Quicksand';
    border-radius: 20px;
    color: var(--neutral_4);
    font-size: 16px;
    font-weight: 400;
}

.form-control:focus {
    outline: none;
}

.form-control::placeholder {
    color: var(--neutral_3);
}

.form-control-fb {
    height: 90px;
    padding-bottom: 50px;
}

.form-send {
    position: relative;
    padding: 10px;
    background-color: white;
    border: none;
    width: 90px;
    height: 45px;
    margin-bottom: 10px;
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 700;
    color: var(--primary_4);
    background-color: var(--primary_1);
    border-radius: 20px;
    align-items: center;
}


.form-send:hover {
    cursor: pointer;
    color: var(--neutral_4);
    background-color: var(--primary_2);
    
}


/* css for content end */