/*=============CSS for header*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 9px;
    position: relative;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 25px rgba(126, 126, 126, 0.8);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

#header1 {
    height: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 194px;
    height: 96px;
}

#delivery {
    display: flex;
    justify-content: flex-start;
    width: 306px;
    height: 53px;
    background-color: var(--primary_3);
    border-radius: 30px;
    cursor: pointer;
}

#delivery img {
    margin-top: 2px;
    margin-left: 4px;
}

#delivery span {
    margin-left: 8px;
    line-height: 8px;
    margin-top: 6px;
}

#shipping_icon {
    width: 48px;
    height: 48px;
}

.search_bar {
    width: 100%;
    width: 581px;
    height: 53px;
    background-color: var(--neutral_2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    border-radius: 30px;
    padding: 8px 20px;

}

.search_bar input {
    background: transparent;
    width: 100%;
    max-width: 581px;
    border: 0;
    outline: none;
    padding: 20px 8px;
    font-size: 16px;
    line-height: 20px;
    color: var(--neutral_4);
    align-items: center;
}

.search_bar span {
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    margin-left: 16px;

}

/* Start of css for account */

#header1 .account {
    /* display: flex; */
    padding-left: 2px;
    /* justify-content: space-between; */
    color: var(--neutral-2);
}

#header1 .subnav {
    z-index: 3;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 8px 0;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    display: none;
}

#header1 .account:hover .subnav {
    margin-top: 10px;
    display: block !important;
}

#header1 .account .subnav {
    width: 14rem;
    right: 0;
}

#header1 .account .subnav li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

#header1 .account .subnav li a {
    line-height: 24px;
    display: flex;
    text-decoration: none;
    color: var(--neutral_4);
    align-items: center;
}

#header1 .account .subnav li span {
    line-height: 24px;
    margin-left: 8px;
    justify-content: baseline;
}

#header1 .account .subnav li:hover {
    font-weight: 700;
    transition: 0.2s linear;
}

/* End of css for account */


/* Start of css for notification */


#header1 .notification .subnav {
    width: 27rem;
    right: 3rem;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    display: none;
}

#header1 .subnav::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 1rem;
    width: 10px;
    height: 10px;
    background-color: #FFFF;
    transform: rotate(45deg);
}

#header1 .notification:hover .subnav {
    margin-top: 10px;
    display: block !important;
}

.notify-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    vertical-align: middle;
}

.notify-section .notify-thumb img {
    width: 56px;
    height: 56px;
}

.notify-text {
    margin-left: 8px;
}

.notify-section .notify-text span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
}

.notify-text span h6 {
    font-weight: 700;
    size: 14px;
    vertical-align: middle;
}

.notify-text span p {
    size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

.notify-section p {
    size: 8px;
    font-weight: 500;
    line-height: 16px;
    text-align: justify;
}

#notification-lable {
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--neutral_4);
    text-transform: uppercase;
    font-weight: 700;
}

#header1 .notification .subnav li a {
    font-size: 12px;
    font-weight: 500;
    color: var(--neutral_4);
    text-decoration: none;
    margin-top: 8px;
    cursor: pointer;
}

#header1 .notification .subnav li a:hover {
    color: var(--primary_4);
    transition: 0.2s linear;
}

/* End of css for notification */


#header2 {
    height: 65px;
    margin-top: 32px;
    position: relative;
    display: flex;
    align-items: baseline;
    /* align-items: center; */
    justify-content: center;
}

#header2 .nav-category {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    cursor: pointer;
}

#header2 .nav-category a {
    width: 290px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: var(--neutral_5);
}

.nav-category span {
    transition: 0.3s ease-in-out;
}

#header2 .nav {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    cursor: pointer;
}

.nav li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav li a {
    color: var(--neutral_5);
    position: relative;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-left: 72px;
    transition: 0.3s ease-in-out;
}

#header2 a:hover,
#header2 a.active{
    color: var(--primary_4);
}

#header2 .nav-category .subnav {
    z-index: 3;
    position: absolute;
    width: 15rem;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 0 25px rgba(73, 73, 73, 0.3);
    display: none;
}

#header2 .nav-category:hover .subnav {
    margin-top: 40px;
    display: block !important;
}

.subnav li {
    /* margin: 10px 0; */
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

#header2 .subnav .last-item {
    border-bottom: none;
}

#header2 .subnav li a {
    padding: 0.7rem;
    display: block;
    height: 100%;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    transition: 0.2s linear;
}

.subnav li:hover {
    background-color: var(--neutral_2);
    color: var(--primary_4);
}
/*=============CSS for header=========================*/


/*Banner*/
#content #banner img{
    width: 100%;
    height: 100%;
}
/*Banner*/

/*PROMOTION NAV*/
#content{
    background-image: url(/img/promotion/bg.png);
    width: 100%;
    background-color: #006837;
    background-size: cover;
    height: auto;
}

#promotion-nav {
    width: 61%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#promo-menu {
    background-color: var(--secondary_5);
    display: inline-block;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 1;
    margin-top: -50px;
}

#promo-menu li {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 28%;
    height: auto;
}

#promo-menu li a {
    width: 100%;
    text-decoration: none;
    /* line-height: 80px; */
    padding: 0 25px;
    display: block;
    transition: none;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

#promo-menu li:hover a {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.promo-nav-ic {
    width: 80%;
}

.promo-nav-text p{
    width: 100%;
    margin-bottom: 2px;
    size: 18px;
    font-weight: 700;
    color: white;
}
/*PROMOTION NAV*/

/*PROMOTION CONTENT 1*/

#promotion-content-main1 {
    z-index: 2;
    margin: 0 150px;
    background-color: var(--primary_1);
    margin-top: 64px;
    border-radius: 30px;
}

.promo-section-white {
    width: 85%;
}

.promo-display {
    display: flex;
}

.promo-img img {
    flex-grow: 1;
    width: 500px;
}

.promo-text {
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 5px;
}

.promo-text-title {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary_3);
}

.promo-text-title-sub {
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-top: -24px;
    display: inline;
}

.promo-text-time {
    font-size: 18px;
    font-style: italic;
}

.promo-img-2 img{
    flex-grow: 0;
    margin-right: -64px;
    width: 500px;
}

.detail-btn {
    margin-top: 2rem;
    height: 40px;
    z-index: 0;
}

.detail-btn a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: var(--neutral_1);
    background-color: var(--secondary_5);
    padding: 14px;
    border-radius: 10px;
    margin-top: -32px;
    outline: none;
    border: none;
    z-index: 1;
    position: relative;
    transition: color 0.4s ease-in-out;
}

.detail-btn a::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    border: 2px solid var(--secondary_5);
    transform-origin: center;
    transform: scale(1);
}

.detail-btn a:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}

.promo-slide {
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.item-promo-list {
    display: inline-block;
    width: calc(87%/4) !important;
    padding-left: 20px;
    padding-right: 20px;
}

.promo-text-2 {
    flex-direction: column;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 5px;
}

#nonnoel1 {
    position: absolute;
    top: 82%;
    left: 83%;
}

/*PROMOTION CONTENT 1*/

/*PROMOTION CONTENT 2*/

#promotion-content-main2{
    z-index: 2;
    margin: 0 150px;
    background-color: var(--primary_1);
    margin-top: 64px;
    border-radius: 30px;
    padding: 32px;
}

#promotion-content-main2 .promotion-title h1{
    text-align: center;
    color: var(--primary_4);
    font-weight: 700;
    margin-bottom: 32px;
}

.promotion-itemlist{
    display: flex;
    max-width: 100%;
}


.item-card img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    align-items: center;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}
/* .item-card img:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
} */

.item-name img {
    width: 30px;
    height: 30px;
}

.item-card {
    padding: 16px;
    width: 25%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    border: solid var(--neutral_3);
    border-width: 0.1px;
    background-color: var(--neutral_1);
    float: left;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.item-card:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

.item-content .item-name {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.item-content .item-name h3 {
    font-weight: 700;
    color: var(--neutral_5);
}

.item-content .rating {
    display: flex;
}

.item-content .rating img {
    height: 30px;
    width: 30px;
}
.item-content .rating img:hover{
    transform: scale(1.0);
}

.item-content .rating .rate {
    display: flex;
    line-height: 30px;
}

.item-content .rating .rate p {
    margin-left: 4px;
}

.item-content .rating .rate span {
    margin-left: 8px;
    color: var(--neutral_4);
}

.item-content .unit p {
    size: 16px;
    margin-top: -14px;
}

.item-content .price {
    display: flex;
    align-items: baseline;
    line-height: 30px;
    margin-top: -12px;
}

.item-content .price .sale-price {
    size: 22px;
    font-weight: bold;
    color: var(--secondary_5);
}

.item-content .old-price {
    margin-left: 8px;
    color: var(--neutral_3);
}

.btnDesign {
    position: relative;
    border: solid var(--secondary_5) 2px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 16px;
    display: inline-block;
}
.btnDesign a{
    text-decoration: none;
}

.btnOrderText img {
    width: 30px;
    height: 30px;
}
.btnOrderText img:hover{
    transform: scale(1.0);
}

.btnDesign .btnOrderText {
    display: flex;
    line-height: 100%;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: -4px;
}

.btnOrderText h3 {
    font-weight: 700;
    color: var(--secondary_5);
    margin-left: 8px;
    line-height: 30px;
}

#nonnoel2{
    position: absolute;
    top: 217%;
    left: 6%;
}
/*PROMOTION CONTENT 2*/

/*PROMOTION CONTENT SEC2*/
#sec2 .bowtie img{
    width: 100%;
    position: relative;
    margin-top: -220px;
}

#sec2 {
    margin-top: 300px;
    background-color: var(--secondary_5);
}

.promotion-title-2 h1{
    text-align: center;
    color: var(--primary_2);
    font-weight: 700;
    margin-top: -80px;
}

.butter-box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 32px;
}

.butter-box-card{
    background-color: var(--primary_1);
    padding: 16px;
    width: 27%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.butter-box-card:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

.butter-box-card img{
    width: 100%;
    height: 100%;
}

.box-card-name{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 8px;
}
.box-card-name h3{
    font-weight: 700;
    line-height: 30px;
}

.box-card-name img{
    width: 30px;
    height: 30px;
}
.box-card-price h3{
    color: var(--secondary_5);
    font-weight: 700;
}
.button-box{
    border: none;
    background-color: var(--secondary_5);
    width: 100%;
    height: 30px;
    border-radius: 10px;
    color: white;
}

.button-box a{
    text-decoration: none;
    color: white;
}

.button-box-text h4{
    font-weight: 600;
    margin-bottom: 3px;
}

.promotion-title-3 h1{
    text-align: center;
    color: var(--primary_2);
    font-weight: 700;
    margin-top: 80px;
}

.promotion-end img{
    width: 100%;
    margin-top: 160px;
}

/*PROMOTION CONTENT SEC2*/

/*=================css BUTTON ON PAGE==============*/
/*BTN Scroll to top*/
.btnScrollToTopp {
    border: none;
    background-color: transparent;
    z-index: 1;
    position: fixed;
    right: 1.5rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.btnScrollToTopp.hide {
    opacity: 1;
}

/*END OF BUTTON SCROLL*/

/* css for button chat start*/

.show-btnFunction {
    z-index: 1;
    position: fixed;
    right: 0.5rem;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: var(--primary_2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #FFF;
    cursor: pointer;
    /* opacity: 0; */
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.show-btnFunction:hover {
    transform: scale(1.2);
}

.btnPhone {
    bottom: 15%;
}

.btnChat {
    bottom: 25%;
}

/* css for button chat end*/

/* css for box chat start */

.chatWrapper {
    z-index: 4;
    position: fixed;
    width: 250px;
    height: 350px;
    right: 0.5rem;
    bottom: 35%;
    background-color: var(--primary_1);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(163, 105, 105, 0.2);
    display: none;
    animation: chatFadeIn ease-in-out 0.2s;
}

.chat-header {
    background-color: var(--primary_3);
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.closechat {
    float: right;
    right: 5%;
    cursor: pointer;
}

.chatWrapper h5 {
    color: var(--primary_5);
    font-weight: 700;
    font-size: 18px;
    display: inline-flex;
}

.chatWrapper p {
    font-size: 14px;
    margin-top: 4px;
    padding: 10px;
    text-align: justify;
}

.chatWrapper form {
    margin: 8px;
    width: 230px;
}

.chatWrapper form>input {
    display: block;
    width: 100%;
    border: 1px solid var(--primary_4);
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

.showChat {
    display: flex;
    flex-direction: column;
}

.chatWrapper form>button {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary_3);
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.chatWrapper footer {
    text-align: center;
    font-size: 11px;
    color: var(--light-gray);
}

@keyframes chatFadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*css for box chat end*/
/*=================CSS BUTTON ON PAGE==============*/



/*===============CSS for footer*/
.footer-body {
    height: 620px;
    background-color: var(--primary_4);
    /* margin-top: 24px; */
    /* border-radius: 50px 50px 0px 0px; */
    width: 101%;
    padding-top: 16px;
}

.footer-section {
    padding: 8px 8px 8px 72px;
    margin-right: 24px;
}

.footer-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer-hr {
    color: var(--primary_1);
    background: var(--primary_1);
    border: 2px;
    height: 2px;
    width: 100px;
}

.footer-content {
    font-size: 20px;
    color: white;
    margin: 20px 0px;
    line-height: 1.6;
}

.footer-infor {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-infor:hover {
    text-decoration: underline;
    color: var(--primary_1);
    cursor: pointer;
}

.socials-list {
    font-size: 30px;
    margin-bottom: 25px;
}

.socials-list-icon img {
    text-decoration: none;
    padding: 0px 8px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    width: 50px;
}

.socials-list-icon img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.5);
}

.payment-list img {
    width: 35px;
    margin-right: 15px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.payment-list img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.5);
}

.form-control {
    padding: 16px;
    border: none;
    width: 461px;
    height: 40px;
    margin-bottom: 8px;
    font-family: 'Quicksand';
    border-radius: 20px;
    color: var(--neutral_4);
    font-size: 16px;
    font-weight: 400;
}

.form-control:focus {
    outline: none;
}

.form-control::placeholder {
    color: var(--neutral_3);
}

.form-control-fb {
    height: 90px;
    padding-bottom: 50px;
}

.form-send {
    position: relative;
    padding: 10px;
    background-color: white;
    border: none;
    width: 90px;
    height: 45px;
    margin-bottom: 10px;
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 700;
    color: var(--primary_4);
    background-color: var(--primary_1);
    border-radius: 20px;
    align-items: center;
}


.form-send:hover {
    cursor: pointer;
    color: var(--neutral_4);
    background-color: var(--primary_2);
    
}
/*================CSS for footer=======================*/